* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
    font-weight: 800;
    vertical-align: middle;
    font-size: 65px;
}

.logo {
    height: 80px;
    vertical-align: middle;
    margin-left: 10px;
}

header {
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;

}

a {
    text-decoration: none;
}

.blue-button {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    background-color: rgb(0, 166, 255);
    color: white;

}

.white-button {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    color: grey;
}

.main-task {
    font-weight: 800;
}

.check {
    color: green;
    border: 2px solid green;
    border-radius: 50%;

}

.cross {
    color: red;
    border: 2px solid red;
    border-radius: 50%;
}

.tag {
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 3px;
    color: white;
}

.editorial {
    background-color: rgb(0, 166, 255);
}

.q1-goals {
    background-color: blueviolet;
}

.recruiting {
    background-color: rgb(129, 211, 129);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: pink;
}

.sales {
    background-color: greenyellow;
}

.container {
    background-color: white;
    max-width: 700px;
    margin: 30px auto;
    padding: 20px 40px;
    border-radius: 6px;
    min-height: 100vh;
}

body {
    background-color: rgb(245, 243, 243);
}

hr {
    border: none;
    height: 1.5px;
    background-color: rgb(245, 243, 243);
   margin-bottom: 50px;
   margin-top: 25px;
   width: 100%;
}